/* FORMULARIO RO */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500;700&family=Lobster&family=Satisfy&display=swap");

* {
	font-family: alkatra;
}
/* HEADER FEDE */

.header {
	background: rgb(34, 29, 29);
	padding: 20px;
	color: white;
	position: sticky;
	top: 0;
}

.header-top {
	display: flex;
	justify-content: space-between;
}

.header-logo {
	margin: 0;
}

.header-btn {
	font-size: 20px;
}

.header-menu {
	display: none;
	padding-bottom: 10px;
	animation: header_menu_active 2s;
}

@keyframes header_menu_active {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.header-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-top: 20px;
}

.header-menu a {
	color: white;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-top {
		padding-bottom: 0;
	}

	.header-menu {
		padding-top: 0;
		display: block !important;
	}

	.header-menu ul {
		flex-direction: row;
	}

	.header-btn {
		display: none;
	}
}
/* FIN HEADER FEDE */

#orange {
	font-family: satisfy;
	color: orange;
	font-size: 50px;
	text-align: center;
	text-shadow: 0px 1px 3px black;
}
h1 {
	color: orange;
	font-size: 50px;
	text-align: left;
	text-shadow: 0px 1px 3px black;
	margin-left: 20px;
}

div {
	margin-left: 10px;
}
/*INICIO CSS ROCIO FORMULARIO*/
#formulario{
    margin: 0;
    padding: 5vh 10vw;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10vh;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 60%;
}

.form .container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.form .container input{
    padding: 10px;
    border:none;
    border-bottom: 1px solid grey;
    
}

.enviar-btn{
    padding: 10px;
    width: 200px;
    background-color: rgb(167, 165, 165);
    border: 1px black solid;
}

.enviar-btn:hover{
    transition: 1s ease-in-out;
    background-color: black;
    color: white;
    border: 1px black solid;
    
}
/*FIN CSS ROCIO FORMULARIO*/


main {
	background-color: rgb(245, 216, 167);
	/* margin-left: 20px;
	margin-right: 20px; */
}

h2 {
	color: #c58940;
}

h4 {
	text-align: center;
	color: chocolate;
	font-size: 16px;
}

footer {
	background-color: #ffd384;
	margin-top: 10px;
	display: flex;
	gap: 50px;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 550px;
	padding-right: 150px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0px 3px 7px orangered;
	border-radius: 5px;
}
